header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 18px 0;

  .header-logo {
    cursor: pointer;
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
  }
}

.icon {
  cursor: pointer;
}
