<main class="home-page">
  <div class="preview">
    <img src="assets/images/preview-1.png" alt="preview" class="preview-img">
    <div class="preview-link">
      <p>Уход для лица</p>
      <mat-icon [routerLink]="routes.Catalog">keyboard_arrow_right</mat-icon>
    </div>
  </div>

  <div class="home-page-info">
    <img src="assets/svg/logo.svg" alt="logo">
    <p>Натуральная косметика
      для бережного ухода за кожей</p>
    <button mat-stroked-button class="custom-btn">Подробнее</button>
  </div>
  <div class="preview">
    <img src="assets/images/preview-2.png" alt="preview" class="preview-img">
    <div class="preview-link">
      <p>Уход для тела</p>
      <mat-icon [routerLink]="routes.Catalog">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</main>
