.product-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.product-container {
  &-description {
    display: flex;
    justify-content: space-between;
  }
}

.price {
  margin: auto 0;
  font-size: 20px;
  font-weight: bold;
}

.product-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
