<div class="container">
  <div class="category-filter">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Категория</mat-label>
      <mat-select [(value)]="selectedCategory" (selectionChange)="filterByCategory()">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Поиск по катологу</mat-label>
      <input [(ngModel)]="searchQuery" (input)="searchProducts()" matInput placeholder="" value="">
    </mat-form-field>
  </div>

  <div *ngIf="filteredProducts.length > 0; else noResults" class="product-list">
    <div *ngFor="let product of filteredProducts" class="product-container">
      <img [src]="product.image" alt="product" class="product-img"/>
      <div class="product-container-description">
        <div>
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
        </div>
        <p class="price">{{ product.price | currency:"RUB":"symbol-narrow":"1.1-1" }}</p>
      </div>
    </div>
  </div>

  <ng-template #noResults>
    <p>Ничего не найдено</p>
  </ng-template>
</div>
