@use '@angular/material' as mat;

$primary-color: mat.define-palette(mat.$indigo-palette, 500);
$accent-color: mat.define-palette(mat.$blue-palette, 200, 100, 400);
$warn-color: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary-color,
    accent: $accent-color,
    warn: $warn-color,
  ),
));

@include mat.all-component-themes($custom-theme);

::ng-deep .mat-mdc-outlined-button:not(:disabled) {
  border-color: var(--light-gray-color) !important;
  color: black !important;
}

.custom-btn {
  width: 140px;
  height: 40px;
  border-radius: 2px;
  font-weight: normal;
  border: 1px solid var(--light-gray-color);
}

.custom-btn:hover {
  background: var(--light-gray-color);
  color: white;
}
