@import 'custom-theme.scss';

:root {
  --header-height: 60px;
  --light-gray-color: #B3BAC1;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  cursor: pointer;
  width: 26px;
}
